body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(3, 10, 32);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 1000px;
    background-color: rgb(6, 15, 58);
    box-shadow: 0 0px 10px rgb(57, 51, 118);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

header h1, .location-display{
    height: 10px;
    color: rgb(255, 255, 255);
}

.header h4 {
    color: rgb(217, 217, 217);
}

.aqi-display {
    display: flex;
    align-items: center;
    height: 150px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aqi {
    display: flex;
    color: white;
    height: 80px;
    width: 80px;
    background-color: rgb(35, 182, 35);
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    font-size: 30px;
}

.pollutants-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    place-items: center;
    color: white;
    column-gap: 30px;
    
}

.pollutant-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(118, 118, 118, 0.316);
}

.info-card {
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    height: auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 22, 87, 0.616);
    box-shadow: 0px 0px 2px rgba(77, 77, 215, 0.526);
}

.info-badges {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 20px;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.badge {
    padding: 3px;
    border-radius: 2px;
}

.good {
    background-color: rgb(0, 212, 39);
}

.fair {
    background-color: rgb(0, 197, 197);
}

.moderate {
    background-color: orange;
}

.poor {
    background-color: red;
}

.very-poor {
    background-color: purple;
}

.location-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.change-btn, .refresh-btn {
    height: 50px;
    color: white;
    background-color: rgb(16, 102, 172);
    border: none;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
}

.change-btn:hover{
    background-color: rgba(16, 102, 172, 0.607);
    transform: translateY(-2px);
    transition: ease;
}

.change-btn:active {
    background-color: rgba(16, 102, 172, 0.242);
    transform: translateY(1px);
    transition: ease;
}

.refresh-btn:hover{
    background-color: rgba(16, 102, 172, 0.607);
    transform: translateY(-2px);
    transition: ease;
}

.refresh-btn:active {
    background-color: rgba(16, 102, 172, 0.242);
    transform: translateY(1px);
    transition: ease;
}

.change-btn {
    margin-right: 20px;
}

.location-selector {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(30, 69, 104);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: large;
}

