.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(10px);
  margin-bottom: 20px;
  margin-top: 0px;
  box-shadow: 4px 4px 10px black;
}

.sidemenu {
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 200px;
  background-color: rgb(0, 6, 34);
  z-index: 100;
  right: 0;
  top: 0;
}

.open {
  display: flex;
}

.sidebar-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 32px;
  box-shadow: 4px 4px 10px black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.close-menu {
  cursor: pointer;
}

.sidemenu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.sidemenu ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  font-size: 20px;
}

.sidemenu ul li a {
  text-decoration: none;
  color: white;
}

.hamburger-menu {
  display: none;
  color: white;
  font-size: 34px;
  margin-right: 40px;
  cursor: pointer;
}

.left-section h1, .left-section h3 {
  color: white;
  margin-left: 40px;
}

.menu {
  display: block;
}

.right-section .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin-right: 40px;
}

.right-section .menu ul li {
  margin: 0px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}


.right-section .menu ul li a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.selected {
  background-color: rgb(0, 141, 37);
} 

@media (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }
    .menu {
      display: none;
    }
}

@media (max-width: 480px) {
    .hamburger-menu {
      display: block;
    }
    .menu {
      display: none;
    }
}