.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  backdrop-filter: blur(10px);
  margin-bottom: 50px;
  box-shadow: 4px 4px 10px black;
}

.left-section h1, .left-section h3 {
  color: white;
  margin-left: 40px;
}


.right-section ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-right: 40px;
}

.right-section ul li {
  margin: 0px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}


.right-section ul li a {
  color: white;
  text-decoration: none;
  font-size: large;
}

.selected {
  background-color: rgb(0, 141, 37);
} 