body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(3, 10, 32);
}

#map {
    height: 500px;
    width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(212, 212, 212, 0.475);
}

.main {
    display: flex;
    flex-direction: column;
}

.map-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}